{% extends "imo_app/base.html" %}

{% block content %}

  <p>Welcome to IMO!  The new way to get or give an opinion on a variety of topics.</p>
  <p>Our mission is to create an avenue for individuals who are stuck between decisions,
     or just simply want to get a second opinion.  Often times we find ourselves sitting
     online or in a store trying to decide which product to buy.  Sometimes we don't even
     need to be buying anything, but rather just trying to figure out which movie to go see
     or which restaurant to go to for dinner.  We want to help individuals who have the same
     dilemmas find quick and easy answers from their friends, specific groups, or the general public.</p>
  <p>Through IMO you will be able to reach many audiences from three main groups: <i>friends</i>, <i>private groups</i>
     and the <i>public</i>.  When you go to create a question through our <q>Create New Poll</q> feature,
     simply select which group you'd like to ask.</p>
  <p><i>Private groups</i> are established between you and other people, and are designed to
     provide you the ability to ask specific individuals rather than your friends or the public as a whole.</p>
  <p><i>Public</i> are public groups based on specific areas of life.  Perhaps you have a question about
     a new pair of shoes, or a new technology purchase?  Simply direct your question to those areas and the
     general public will be able to provide their opinions and experiences to help assist you in making your
     decision</p>
  <p>We greatly appreciate your participation in our development.  We plan to add many exciting features
     in the future, and hope that you will continue to help us create a product that suits your needs.
     Should you have any suggestions, comments, or concerns regarding our application, please send us an email at
     <a href="mailto:imoappdevelopment@gmail.com">imoappdevelopment@gmail.com</a>.  Thank you.</p>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>  

{% endblock %}
