{% extends "imo_app/base.html" %}

{% block content %}
  <div class="row">
    <div class="col m12">
      <h4>Friend Requests:</h4>
          {% for i in requests %}
          <a href="{% url 'imo_app:view_profile' i.requester.id %}">{{i.requester.user.first_name}} {{i.requester.user.last_name}}</a>
          {% if i.requester.picture %}
          <p><img src='{{ i.requester.picture.url }}' class='img-responsive' width="150px" height="150px" /></p>
          {% endif %}
          <a href="{% url 'imo_app:accept_friend_profile' i.requester.id %}">Accept </a>
          |
          <a href="{% url 'imo_app:decline_friend_profile' i.requester.id %}">Decline </a>
          <p></p> <!-- make sure to delete this when we get them side to side!!!!!! -->
          {% endfor %}
        <hr></hr>
      </div>

  </div>
    {% if user.is_authenticated %}
      <h4>Friend's Polls</h4>
      <div class="row">
        <div class="col m12">
        <form method='GET' action=''>
        <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
        <input type='submit' value='Search' />
        </form>
        <br></br>
      </div>

        {% for i in q_all %}
          <div class="col m6"> <!-- change to "col m4" for 3 per page -->
            <div class="card" >
              <div class="card-content">
                <span class="card-title truncate"><a href="{% url 'imo_app:detail' i.id %}" style = "font-size: 20px">{{ i.question_text }}</a></span>
                <hr></hr>
                <div class="chip">
                  {{ i.author.user.first_name}} {{ i.author.user.last_name}}
                </div>
                <br></br>
                <p class="truncate">{{ i.description }}</p>
                <p class="grey-text">{{ i.pub_date }}</p>
                <!-- This is the optional pictures addition to cards -->
                <ul>
                <li>
                </li>
                </ul>
              </div>
              <a href="{% url 'imo_app:detail' i.id %}"><div class="orange-text waves-effect waves-teal card-action btn-flat" style="width:100%; height: 100%">
              Votes: {{ i.total_votes }}
              </div></a>

            </div>
          </div>
        {% endfor %}
        <!-- this is the pagination that allows us to have multiple pages -->
        <div class="pagination">
            <span class="step-links">
                {% if q_all.has_previous %}
                    <a href="?page={{ q_all.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ q_all.number }} of {{ q_all.paginator.num_pages }}.
                </span>

                {% if q_all.has_next %}
                    <a href="?page={{ q_all.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
      </div>

    {% else %}

    {% endif %}
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

{% endblock content %}
