{% extends "imo_app/base.html" %}

{% block content %}
  <div class="row">
    <div class="col m12">
      <h4>Friends:</h4>
      <div class="col m12">
      <form method='GET' action=''>
      <input type='text' name='f' placeholder='Search friends' value='{{ request.GET.f }}' />
      <input type='submit' value='Search' />
      </form>
      <br></br>
    </div>
    </div>
    {% for i in f_all %}
      <div class="card">
        <div class="col m2">
          <div class="card-image">
            {% if i.friend.picture %}
            <a href="{% url 'imo_app:view_profile' i.friend.id %}"><img src='{{ i.friend.picture.url }}' class='img-responsive' width="100px" height="150px" /></a>
            {% else %}
            <a href="{% url 'imo_app:view_profile' i.friend.id %}"><img src='{{ 100.url }}' class='img-responsive' width="100px" height="150px" /></a>
            {% endif %}
          </div>
        <div class="card-action">
          <a href="{% url 'imo_app:view_profile' i.friend.id %}">{{ i.friend.name }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
{% endblock content %}
