{% extends "imo_app/base.html" %}

{% block content %}

<br></br>
  </div>
  <!-- left side -->
    <!-- right side -->
    <div class="container">
    <div class="row">
    <div class="col s5">
        <h4>{{ first_name }} {{ last_name }}</h4>
        {% if picture != null %}
        <img src='{{ picture.url }}' class='img-responsive' width="250px" height="250px" />
        {% endif %}
        <br></br>
        <strong>Motto:</strong> "{{ motto }}"
        <br></br>
        <strong>About:</strong> {{ about }}
        <br></br>
        <strong>Birthday:</strong> {{ birthday }}
        <br></br>
        <strong>Gender:</strong> {{ gender }}
        <br></br>
    <form action="{% url 'imo_app:profile' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="edit" name='edit' class='btn' size=50%; />
    </form>
    </div>
    <div class="col s7">
    {% if user.is_authenticated %}
      <h4>{{ first_name }}'s posts</h4>
      <div class="row">
        <div class="col m12">
        <form method='GET' action=''>
        <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
        <input type='submit' value='Search' />
        </form>
        <br></br>
      </div>

        {% for i in q_all %}
          <div class="col m12">
            <div class="card" >
              <div class="card-content">
                <span class="card-title truncate"><a href="{% url 'imo_app:detail' i.id %}" stile = "font-size: 20px">{{ i.question_text }}</a></span>
                <hr></hr>
                <div class="chip">
                  {{ i.author.user.first_name}} {{ i.author.user.last_name}}
                </div>
                <br></br>
                <p class="truncate">{{ i.description }}</p>
                <br></br>
                <p class="grey-text">{{ i.pub_date }}</p>
              </div>
              <a href="{% url 'imo_app:detail' i.id %}"><div class="orange-text waves-effect waves-teal card-action btn-flat" style="width:100%; height: 100%">
              {% if i.total_votes < 1 %}
              Votes: 0
              {% else %}
              Votes: {{ i.total_votes }}
              {% endif %}
              </div></a>
            </div>
          </div>
        {% endfor %}
        <!-- this is the pagination that allows us to have multiple pages -->
        <div class="pagination">
            <span class="step-links">
                {% if q_all.has_previous %}
                    <a href="?page={{ q_all.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ q_all.number }} of {{ q_all.paginator.num_pages }}.
                </span>

                {% if q_all.has_next %}
                    <a href="?page={{ q_all.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
      </div>
    </div>
  </div>

    {% else %}
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    {% endif %}
</div>
{% endblock content %}
