{% extends 'imo_app/base.html' %}

{% block content %}
  <h3>Edit Profile</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form class="" action="{% url 'imo_app:profile'%}" enctype = 'multipart/form-data' method="post">
      {% csrf_token %}
      <!-- Questions -->
      <!-- Choices -->
      <div class="image1" name="image1">
        {{ form.subject.errors }}
        <label for='{{ form.picture }}'> Profile picture: </label>
        <br></br>
        {{ form.picture }}
      </div>
      <div class="input-field">
        {{ form.subject.errors }}
        <label for='{{ form.birthday }}'> Birthday: </label>
        <br></br>
        {{ form.birthday }}
      </div>
      <div class="input-field">
        {{ form.subject.errors }}
        <label for='{{ form.gender }}'> Gender: </label>
        <br></br>
        {{ form.gender }}
      </div>
      <div class="input-field">
        {{ form.subject.errors }}
        <label for='{{ form.about }}'> About: </label>
        <br></br>
        {{ form.about }}
      <div class="input-field">
        {{ form.subject.errors }}
        <label for='{{ form.motto }}'> Motto: </label>
        <br></br>
        {{ form.motto }}
      </div>
        <br></br>
        <br></br>
      </div>
      <input type="submit" value="Post"  class='btn'/>
    </form>
{% endblock %}
