{% extends "imo_app/base.html" %}

{% block content %}

<br></br>
  </div>
  <!-- left side -->
    <!-- right side -->
    <div class="container">
    <div class="row">
    <div class="col s4">
        <h4>Profiles with {{ query }}</h4>
        {% for i in p_all %}
        <div class="card">
          <div class="card-image">
            {% if i.picture %}
            <img src='{{ i.picture.url }}' class='img-responsive' width="250px" height="250px" />
            {% endif %}
          </div>
          <div class="card-content">
            <p>{{i.motto}}</p>
          </div>
          <div class="card-action">
            <a href="#">{{ i.name }}</a>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s7">
    {% if user.is_authenticated %}
      <h4>Polls with {{ query }}</h4>
      <div class="row">
        <div class="col m12">
        <form method='GET' action=''>
        <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
        <input type='submit' value='Search' />
        </form>
        <br></br>
      </div>

        {% for i in q_all %}
          <div class="col m12">
            <div class="card" >
              <div class="card-content">
                <span class="card-title truncate"><a href="{% url 'imo_app:detail' i.id %}" stile = "font-size: 20px">{{ i.question_text }}</a></span>
                <hr></hr>
                <div class="chip">
                  {{ i.author.user.first_name}} {{ i.author.user.last_name}}
                </div>
                <br></br>
                <p class="truncate">{{ i.description }}</p>
                <br></br>
                <p class="grey-text">{{ i.pub_date }}</p>
              </div>
              <a href="{% url 'imo_app:detail' i.id %}"><div class="orange-text waves-effect waves-teal card-action btn-flat" style="width:100%; height: 100%">
              {% if i.total_votes < 1 %}
              Votes: 0
              {% else %}
              Votes: {{ i.total_votes }}
              {% endif %}
              </div></a>
            </div>
          </div>
        {% endfor %}
        <!-- this is the pagination that allows us to have multiple pages -->
      </div>
    </div>
  </div>

    {% else %}
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    {% endif %}
</div>
{% endblock content %}
