{% extends 'imo_app/base.html' %}

{% block content %}
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% else %}
    <h5>Please check your email for a verification key.<h5>
    {% endif %}
    <form class="" action="{% url 'imo_app:verify' %}" method="post">
      {% csrf_token %}
      <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for='{{ form.activation_key }}'> Verification key: </label>
        {{ form.activation_key }}
      </div>
      <input type="submit" value="Verify" class = "btn"/>
    </form>
    <br></br>
    <br></br>
{% endblock %}
