{% extends "imo_app/base.html" %}

{% block content %}

<br></br>
    <div class="row">
    <div class="col s3">
        <h4>{{ first_name }} {{ last_name }}</h4>
        {% if picture %}
        <img src='{{ picture.url }}' class='img-responsive' width="100%" height="200px" />
        {% endif %}
        <div class="card-content">
          {% if status == 'Friends' %}
          <p><i>{{status}}</i></p>
          <p><a href="{% url 'imo_app:remove_friend' id %}">Remove Friend</a></p>
          {% elif status != '' %}
          <p><i>{{status}}</i></p>
          {% elif same_user = True %}
          <p></p>
          {% else %}
          <p><a href="{% url 'imo_app:request_friend' id %}">Add Friend</a></p>
          {% endif %}
        </div>
        <strong>Motto:</strong> "{{ motto }}"
        <br></br>
        <strong>About:</strong> {{ about }}
        <br></br>
        <strong>Birthday:</strong> {{ birthday }}
        <br></br>
        <strong>Gender:</strong> {{ gender }}
        <br></br>
        <strong>Friends:</strong> {{ friends }}
        <a href="{% url 'imo_app:all_friends' id %}">View All Friends</a>
        {% for i in f_all %}
          <div class="card">
              <div class="card-image">
                {% if i.friend.picture %}
                <a href="{% url 'imo_app:view_profile' i.friend.id %}"><img src='{{ i.friend.picture.url }}' class='img-responsive' width="0px" height="200px"/></a>
                {% else %}
                <a href="{% url 'imo_app:view_profile' i.friend.id %}"><p><img src='{{ 100.url }}' class='img-responsive' width="150px" height="150px" /></p></a>
                {% endif %}
              </div>
            <div class="card-action">
              <a href="{% url 'imo_app:view_profile' i.friend.id %}">{{ i.friend.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s9">
    <h4>{{ first_name }}'s Polls</h4>
      <div class="row">
        <div class="col s12">
        <form method='GET' action=''>
        <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
        <input type='submit' value='Search' />
        </form>
        <br></br>
      </div>

        {% for i in q_all %}
          <div class="col s12">
            <div class="card" >
              <div class="card-content">
                <span class="card-title truncate"><a href="{% url 'imo_app:detail' i.id %}" style = "font-size: 20px">{{ i.question_text }}</a></span>
                <hr></hr>
                <div class="chip">
                  {{ i.author.user.first_name}} {{ i.author.user.last_name}}
                </div>
                <br></br>
                <p class="truncate">{{ i.description }}</p>
                <br></br>
                <p class="grey-text">{{ i.pub_date }}</p>
              </div>
              <a href="{% url 'imo_app:detail' i.id %}"><div class="orange-text waves-effect waves-teal card-action btn-flat" style="width:100%; height: 100%">
              {% if i.total_votes < 1 %}
              Votes: 0
              {% else %}
              Votes: {{ i.total_votes }}
              {% endif %}
              </div></a>
            </div>
          </div>
        {% endfor %}
        <!-- this is the pagination that allows us to have multiple pages -->
        <div class="col s12">
        <div class="pagination">
            <span class="step-links">
                {% if q_all.has_previous %}
                    <a href="?page={{ q_all.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ q_all.number }} of {{ q_all.paginator.num_pages }}.
                </span>

                {% if q_all.has_next %}
                    <a href="?page={{ q_all.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
      </div>
      </div>
    </div>
  </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
</div>
{% endblock content %}
